<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Tipografia Roboto-->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

  <!-- Libreria Fontawesome-->
  <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />

  <!-- Estilos propios-->
  <link href="/css/styles.css" rel="stylesheet">
  <link href="/css/colors.css" rel="stylesheet">
  <link href="/css/mediaQueryStyle.css" rel="stylesheet">
  <link rel="stylesheet" href="styleformulario.css">

  <title>Mercado Liebre</title>

</head>

<body>
  <header>
    <div class="logo-container">
      <div class="logo-bar-container">
        <div class="logo">
          <a href="/"> <img src="/images/logo-mercado-liebre.svg" alt=""></a>

        </div>
        <div class="search-button-container">
          <div class="search-container">
            <form action="/" method="get">
              <input type="text" placeholder="Buscar productos, marcas...">
            </form>
            <button><i class="fas fa-search"></i></button>
          </div>

        </div>

      </div>
      <div class="card-container">
        <h2 class="card-title"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</h2>
      </div>


    </div>
    <nav class="menu-container">
      <ul>
        <li>Ofertas</li>
        <li>Tiendas oficiales</li>
        <li>Vender</li>
        <li>Ayuda</li>
      </ul>
      <ul>
        <li><a href="/register">Crea tu cuenta <i class="fas fa-id-card"></i></a></li>
        <li><a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
        <li>Mis compras <i class="fas fa-shopping-basket"></i></li>
      </ul>
    </nav>
    <div class="burger-container">
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </div>
  </header>
  <section>
    <img src="/images/img-home-banner.jpg" alt="Imager Barner">
  </section>
  <main>
    <h3>Basado en tu última visita</h3>
    <section class="last-visit">
        <div class="products">
            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class="price">$6.770</p>
                    <p class="discount">40% Off</p>
                    <h4 class="description">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="mac">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class="price">$230.000</p>
                    <p class="discount">20% Off</p>
                    <h4 class="description">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img src="images/img-samsung-galaxy-s10.jpg"alt="Celular">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class="price">$70.500</p>
                    <p class="discount">10% Off</p>
                    <h4 class="description">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="Televisor">
                <div class="main-article">
                    <i class="fas fa-truck"></i>
                    <p class="price">$23.200</p>
                    <p class="discount">5% Off</p>
                    <h4 class="description">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </div>
    </section>

    <h3>Ofertas</h3>
    <section class="offers">
      <div class="products">
        <article>
            <img src="images/img-cafetera-moulinex.jpg" alt="cafetera">
            <div class="main-article">
                <i class="fas fa-truck"></i>
                <p class="price">$6.770</p>
                <p class="discount">40% Off</p>
                <h4 class="description">Cafetera Moulinex</h4>
            </div>
        </article>
        <article>
            <img src="images/img-macbook-pro-2019.jpg" alt="mac">
            <div class="main-article">
                <i class="fas fa-truck"></i>
                <p class="price">$230.000</p>
                <p class="discount">20% Off</p>
                <h4 class="description">MacBook Pro 2019</h4>
            </div>
        </article>
        <article>
            <img src="images/img-samsung-galaxy-s10.jpg"alt="Celular">
            <div class="main-article">
                <i class="fas fa-truck"></i>
                <p class="price">$70.500</p>
                <p class="discount">10% Off</p>
                <h4 class="description">Samsung Galaxy S10</h4>
            </div>
        </article>
        <article>
            <img src="images/img-tv-samsung-smart.jpg" alt="Televisor">
            <div class="main-article">
                <i class="fas fa-truck"></i>
                <p class="price">$23.200</p>
                <p class="discount">5% Off</p>
                <h4 class="description">SmartTv Samsung 43"</h4>
            </div>
        </article>
    </div>
    </section>
</main>
  

</body>
<footer>
  <div>
    <div class="ancho">
      <div>
        <i class="fa-solid fa-credit-card"></i>
      </div>
      <h3>Pagá con tarjeta o en efectivo</h3>
      <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
      </p>
    </div>
    <div class="ancho">
      <div>
        <i class="fa-solid fa-gift"></i>
      </div>
      <h3>Envío gratis desde $ 2.500</h3>
      <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado
        Puntos.</p>
    </div>
    <div class="ancho">
      <div>
        <i class="fa-solid fa-user-shield"></i>
      </div>
      <h3>Seguridad, de principio a fin</h3>
      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
      </p>
    </div>
  </div>
  <div>
    <p>
      Copyright © 1999-2020 MercadoLiebre S.R.L.
    </p>
  </div>
</footer>

</html>