<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Tipografia Roboto-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Libreria Fontawesome-->
    <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />

    <!-- Estilos propios-->
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/colors.css" rel="stylesheet">
    <link href="/css/mediaQueryStyle.css" rel="stylesheet">
    <link rel="/home.html" href="">
    

    <title>Mercado Libre</title>
</head>
<body>
    <header>
        <div class="logo-container">
            <div class="logo-bar-container">
                <div class="logo">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo"></a>
                </div>
                <div class="search-button-container">
                    <div class="search-container">
                        <input type="text" placeholder="Buscar productos, marcas...">
                        <button><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <h2 class="card-title">
                    <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
        </div>
        <nav class="menu-container">
            <ul>
                <li>Ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li><a href="/register">Crea tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li>Mis compras <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-container">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>

    <main class="register">
       <div>
        <form action="/">
            <div>
                <div class="formatos">
                    <input type="text" placeholder="Nombre y Apellido"  class="prueba">
                </div>
                <div class="formatos"><input type="text" placeholder="Nombre de usuari@" minlength="5" class="prueba"></div>
                <h3 class="h33">Fecha de nacimiento</h3>
                <div class="formatos"><input type="date" name="" id="" class="prueba"></div>
                <div class="formatos"><input type="text" placeholder="Domicilio" class="prueba"></div>
                <div>
                    <h3 class="h33">Perfil de Usuario</h3>
                    <div class="selector">
                        <div class="comprador">
                            <input type="radio" name="Seleccion" id="Comprador">
                            <label for="Comprador" class="buyer">Comprador</label>                          
                        </div>
                        <div class="comprador">
                            <input type="radio" name="Seleccion" id="Vendedor">
                            <label for="Vendedor" class="seller">Vendedor</label> 
                        </div>
                    </div>
                </div>
                <div class="checkbox">
                    <div>
                        <h3 class="h33">Interes</h3>
                    </div>
                    <div class="box1">
                        <div>
                            <input type="checkbox" id="cbox1" value="first_checkbox">
                            <label for="cbox1" class="buyer"> Electro</label>
                        </div>
                        <div>
                            <input type="checkbox" id="cbox2" value="second_checkbox">
                            <label for="cbox2" class="buyer">Moda</label>
                        </div>
                        <div>
                            <input type="checkbox" id="cbox3" value="Third_checkbox">
                            <label for="cbox3" class="buyer">Hogar</label>
                        </div>
                        <div>
                            <input type="checkbox" id="cbox4" value="fourth_checkbox">
                            <label for="cbox4" class="buyer">Jugueteria</label>
                        </div>
                        <div>
                            <input type="checkbox" id="cbox5" value="fifth_checkbox">
                            <label for="cbox5" class="buyer">Vida Sana</label>
                        </div>         
                    </div>
                </div>
                <div class="foto">
                    <div>
                        <h3 class="h33">Foto de Usuario</h3>
                    </div>
                    <div>
                        <label for="foto"></label>
                        <input type="file" id="foto" name="foto" accept="image/png, image/jpeg" class="buyer">
                    </div>
                    
                </div>
                <div>
                    <div class="foto">
                        <label for="Contraseña" class="texto"> Contraseña</label>
                        <div class="formatos">
                            <input type="password" name="Contraseña" id="Contraseña" required placeholder="Contraseña" class="prueba">
                        </div>
                    </div>
                    <div class="foto">
                        <label for="Contraseña" class="texto"> Confirmar Contraseña</label>
                        <div class="formatos">
                            <input type="password" name="Contraseña" id="Contraseña" required placeholder="Contraseña" class="prueba">
                        </div>
                </div>
                </div>
                <div class="boton">
                    <div class="botonn">
                        <button type="submit" class="caja2">Enviar</button>
                    </div>
                    <div class="botonn">
                        <button type="reset" class="caja2">Borrar</button>
                    </div>
                </div>
                
            </div>
        </form>
       </div>   
    </main>
</body>
<footer>
    <div>
      <div class="ancho">
        <div>
          <i class="fa-solid fa-credit-card"></i>
        </div>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <div class="ancho">
        <div>
          <i class="fa-solid fa-gift"></i>
        </div>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado
          Puntos.</p>
      </div>
      <div class="ancho">
        <div>
          <i class="fa-solid fa-user-shield"></i>
        </div>
        <h3>Seguridad, de principio a fin</h3>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
        </p>
      </div>
    </div>
    <div>
      <p>
        Copyright © 1999-2020 MercadoLiebre S.R.L.
      </p>
    </div>
  </footer>
</html>