<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Tipografia Roboto-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Libreria Fontawesome-->
    <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>

    <!-- Estilos propios-->
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/colors.css" rel="stylesheet">
    <link href="/css/mediaQueryStyle.css" rel="stylesheet">
    <link rel="/home.html" href="">
    

    <title>Mercado Libre</title>
</head>
<body>
    <header>
        <div class="logo-container">
            <div class="logo-bar-container">
                <div class="logo">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo"></a>
                </div>
                <div class="search-button-container">
                    <div class="search-container">
                        <input type="text" placeholder="Buscar productos, marcas...">
                        <button><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <h2 class="card-title">
                    <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
        </div>
        <nav class="menu-container">
            <ul>
                <li>Ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li><a href="/register">Crea tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li>Mis compras <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-container">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>

    <main class="register">
       <div>
        <form action="register">
            <div>
                <div class="formatos">
                    <input type="text" placeholder="Nombre y Apellido"  class="prueba">
                </div>
                <div class="formatos"><input type="text" placeholder="Nombre de usuari@" minlength="5" class="prueba"></div>
                <h3 class="h33">Fecha de nacimiento</h3>
                <div class="formatos"><input type="date" name="" id="" class="prueba"></div>
                <div class="formatos"><input type="text" placeholder="Domicilio" class="prueba"></div>
                <div>
                    <h3 class="h33">Perfil de Usuario</h3>
                    <div class="selector">
                        <div class="comprador">
                            <input type="radio" name="Seleccion" id="Comprador">
                            <label for="Comprador" class="buyer">Comprador</label>                          
                        </div>
                        <div>
                            <label for="Vendedor">Vendedor</label>
                            <input type="radio" name="Seleccion" id="Vendedor">
                        </div>
                    </div>
                </div>
                <div class="formatos">
                    <h3 class="h33">Interes</h3>
                    <label>
                        <input type="checkbox" id="cbox1" value="first_checkbox">Electro <br>
                    </label>
                    <label>
                        <input type="checkbox" id="cbox2" value="second_checkbox">Moda  <br>
                    </label>
                    <label>
                        <input type="checkbox" id="cbox3" value="Third_checkbox">Hogar <br>
                    </label>
                    <label>
                        <input type="checkbox" id="cbox3" value="Third_checkbox">Jugueteria<br>
                    </label>
                    <label>
                        <input type="checkbox" id="cbox3" value="Third_checkbox">Vida Sana<br>
                    </label>
                </div>
                <div class="formatos">
                    <h3 class="h33">Foto de Usuario</h3>
                    <label for="foto"></label>
                    <input type="file" id="foto" name="foto" accept="image/png, image/jpeg">
                </div>
                <div class="formatos">
                    <label for="Contraseña"> Contraseña</label>
                    <input type="password" name="Contraseña" id="Contraseña" required placeholder="Contraseña">
                </div>
                <div class="formatos">
                    <label for="Contraseña"> Confirmar Contraseña</label>
                    <input type="password" name="Contraseña" id="Contraseña" required placeholder="Contraseña">
                </div>
                <div class="formatos">
                    <a href="/">
                        <button type="submit">Enviar</button>
                    </a>
                    <button type="reset">Borrar</button>
                </div>
                
            </div>
        </form>
       </div>   
    </main>
    
</body>
</html>