* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--grisClaro);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--negro);
}

ul {
  list-style: none;
}

html {
  font-family: 'Roboto', sans-serif;
}

/* ****** HEADER ****** */

header {
  /* border: solid 3px green; */
  background-color: var(--amarillo);
  display: flex;
  flex-direction: column;
}

div.logo-container {
  /* border: solid 3px red; */
  display: flex;
  flex-direction: column;
}

nav.menu-container {
  /* border: solid 3px red; */
  display: none;
}

div.burger-container {
  /* border: solid 3px red; */
  display: flex;
  justify-content: center;
}

div.logo-bar-container {
  /* border: solid 3px gray; */
  display: flex;
}

div.card-container {
  /* border: solid 3px gray; */
  padding: 15px;
}

div.logo {
  /* border: solid 3px pink; */
  width: 50%;
  padding: 10px;
}

div.search-button-container {
  /* border: solid 3px pink; */
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

div.search-container {
  /* border: solid 3px brown; */
  display: flex;
  height: 25px;
  width: 90%;
}

h2.card-title {
  font-weight: 400;
  text-align: center;
}

h2.card-title i {
  margin-right: 10px;
}

div.search-container input {
  width: 95%;
  border: none;
  background-color: var(--blanco);
  border-radius: 5px 0 0 5px;
}

div.search-container button {
  width: 15px;
  padding: 1px;
  border: none;
  background-color: var(--blanco);
  border-radius: 0 5px 5px 0;
}

div.burger-menu {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
  color: var(--blanco);
  background-color: var(--azul);
}

/* ****** FIN HEADER ****** */

/* ****** PRODUCTOS ****** */

main h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.last-visit,
.offers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.last-visit .products,
.offers .products {
  width: 95%;
}

.products article {
  background: var(--blanco);
  padding: 10px 0;
}

.products article i {
  color: var(--verde);
  border: 1px solid var(--verde);
  background: var(--blanco);
  border-radius: 50%;
  padding: 8px;
  position: absolute;
  top: -15px;
  right: 20px;
  width: 35px;
  height: 35px;
}

.main-article {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 10px;
  border-top: 1px solid var(--grisClaro);
}

.price {
  font-size: 18px;
  width: 30%;
}

.discount {
  width: 70%;
  color: var(--verde);
}

.description,
.discount {
  font-size: 16px;
  font-weight: normal;
}

h3,
.description {
  color: var(--grisOscuro);
}

article {
  margin-bottom: 15px;
}

main section div.products article i {
  transition: transform 1s;
}

main section div.products article:hover i {
  transform: rotate(-90deg  );
}

/*Footer*/
footer{
  text-align: center;
  background-color: var(--blanco);

}
footer i.fa-solid{
  font-size: 2em;
  margin-bottom: 10px;
  color: var(--celeste);
 
}
/*Fin Footer*/

/*Formularios*/
.registe{
  background: var(--grisClaro);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formatos{
  border: 1px solid red;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formatos2{
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 20px;

}
.password{
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.selector{
  display: flex;
  flex-wrap:wrap;
  margin: 10px 20px;
  
}
.comprador{
  display: flex;
  flex-wrap:wrap;
  width: 50%;
}
.seller{
  margin-left: 20%;
}
.buyer{
  margin-left: 8vw;
}
#Comprador{
  margin-left: 5%;
}
.checkbox{
  display: flex;
  flex-direction: column;

}
.box1{
  margin-left: 10%;
}
.box2{
  margin-left: 20%
}
.foto{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 20px;
}
.texto{
  font-size: 16px;
  color: var(--negro);
  text-align:left;
  margin-left: 20px;
  font-weight:bold;
  margin-bottom: 10px;
}
.prueba{
  width: 90vw;
  display: flex;
  border: 1px solid green;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 3px;
}
.boton{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 20px;
    
}
.botonn{
  width: 50%;
}
.h33{
  font-size: 16px;
  color: var(--negro);
  text-align:left;
  margin-left: 20px;
}
.caja2{
  width: 70%;
  height: 60%;
  background: var(--celeste);
  border: 1px solid var(--celeste);
  border-radius: 3px;
  color: var(--blanco);
  margin: 10px;
}
/* ******login ****** */
.mainn{
margin: 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.login{
width: 90vw;
display: flex;
margin-top: 10px;
margin-bottom: 10px;
}
.loginn{
width: 95%;
height: 25px;
margin: 10px;
}
.caja{
width: 95%;
height: 30px;
background: var(--celeste);
border: 1px solid var(--celeste);
border-radius: 3px;
color: var(--blanco);
margin: 10px;

}
/* ******Fin login ****** */

