/* ****** Resgister ****** */
.registe{
    background: var(--grisClaro);
    margin: 10px;
    display: flex;
    justify-content: center;
  }
  .formatos{
    border: 1px solid red;
    margin: 20px;
  }
  .seller{
  display: flex;
  flex-wrap: wrap;
  
  }
  .prueba{
    width: 90vw;
    display: flex;
    border: 1px solid green;
    justify-content: center;
    height: 8vh;
    border-radius: 3px;
  
  
  }
  /* ******login ****** */
  main div{
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  .login{
  width: 90vw;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  }
  .loginn{
  width: 95%;
  height: 25px;
  margin: 10px;
  }
  .caja{
  width: 95%;
  height: 30px;
  background: var(--celeste);
  border: 1px solid var(--celeste);
  border-radius: 3px;
  color: var(--blanco);
  margin: 10px;
  
  }
  /* ******Fin login ****** */
  
  